colors = aqua blue fuchsia green lime maroon navy olive purple red teal yellow

for color, i in colors
  .col{i}
    background: color

.col-content
    min-height: 50px
    text-align: center
    font-size: 25px